           .message-content {
                max-width: 70%;
                padding: 10px;
                border-radius: 10px;
                background-color: rgb(25, 135, 84);
                margin: 0 10px;
                color: white;
            }